/*   .container {
  position: relative;
  color: white !important;
}

.container::after {
  content: "";
  opacity: 0.4;
  background: url("./img1.jpg") no-repeat fixed top;
  background-blend-mode: luminosity;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
} */
